---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
const blogEntries = await getCollection("blog");
---

<Layout
  title="BioinfoClass - Blog"
  description="Confira nossos posts, dicas e conteúdo"
>
  <main>
    <h1 class="mb-20 text-3xl">Confira nosso blog!</h1>
    <ul class="ml-20 flex">
      {
        blogEntries.map((blogPostEntry) => (
          <li class="flex flex-col rounded-md border p-5">
            <a
              class="text-lg text-blue-600"
              href={`/blog/${blogPostEntry.slug}`}
            >
              {blogPostEntry.data.title}
            </a>
            <time datetime={blogPostEntry.data.publishedAt.toISOString()}>
              {blogPostEntry.data.publishedAt.toDateString()}
            </time>
          </li>
        ))
      }
    </ul>
  </main>
</Layout>
