---
import Card from "../components/Card.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="BioinfoClass - Aulas particulares"
  description="Aprenda bioinformática e programação com aulas particulares personalizadas na BioinfoClass. Professores experientes e metodologia eficiente para alunos de todos os níveis. Comece já sua jornada de aprendizado em análise de dados biológicos e programação!"
>
  <main>
    <section>
      <h1 class="mb-20 mt-10 text-center text-3xl">
        Aprenda no seu ritmo e de forma <span class="text-blue-500"
          >personalizada</span
        >
      </h1>
      <p class="mb-10 p-5 text-center text-lg">
        Sabemos que cursos online e videoaulas podem não ser a melhor opção para
        todos. Acreditamos que cada um tem sua maneira própria de aprender e que
        o cuidado individual pode render muitos frutos para quem está iniciando
        na área de programação voltada à biologia. Por isso, oferecemos aulas
        particulares de bioinformática e programação para alunos de todos os
        níveis. Aprenda no seu ritmo e de forma personalizada com professores
        doutores ou pós graduandos experientes de universidades públicas, seja
        seu interesse aprender a programar do zero, ou aprender a interpretar um
        dado computacional para sua pesquisa.
      </p>
    </section>
    <section class="mx-5 mt-10 grid gap-32 md:mx-32 md:grid-cols-3">
      <Card icon="ic:outline-access-time">
        <h3>
          Aprenda no seu <span class="text-blue-500">ritmo</span> e apenas o que
          você necessita
        </h3>
      </Card>
      <Card icon="ic:outline-access-time">
        <h3>
          Aprenda no seu <span class="text-blue-500">ritmo</span> e apenas o que
          você necessita
        </h3>
      </Card>
      <Card icon="ic:outline-access-time">
        <h3>
          Aprenda no seu <span class="text-blue-500">ritmo</span> e apenas o que
          você necessita
        </h3>
      </Card>
    </section>
  </main>
</Layout>
