---
import Card from "../components/Card.astro";
import Layout from "../layouts/Layout.astro";

import matt from "../images/matt.webp";
import lucao from "../images/lucao.jpg";
import jujose from "../images/jujose.jpg";
import Instructor from "../components/Instructor.astro";
import { Icon } from "astro-icon";
import ContactForm from "../components/ContactForm";
---

<Layout
  title="BioinfoClass - Consultoria"
  description="Tenha todo o apoio dos nossos cientistas "
>
  <main>
    <section class="flex flex-col items-center justify-center">
      <h1 class="mb-20 mt-5 text-center text-3xl">
        Consultoria e orientação para <span class="text-blue-500"
          >seu projeto</span
        >
      </h1>
      <p class="mx-10 mb-10 text-justify text-lg lg:w-1/2">
        Muitas vezes começar uma nova linha de pesquisa ou trabalho em
        bioinformática é bastante desafiador. Qual o melhor programa para rodar
        certa análise? Quais os melhores parâmetros? Como interpretar os
        resultados ou gerar as melhores figuras? A BioinfoClass oferece
        consultoria e orientação para projetos de bioinformática, desde a
        concepção do projeto até a análise de dados. Nossos instrutores são
        cientistas com experiência em projetos de bioinformática e estão prontos
        para te ajudar a tirar seu projeto do papel.
      </p>
    </section>

    <!-- Instructors -->
    <section>
      <h2 class="mt-20 text-center text-3xl">
        Conheça alguns dos nossos <span class="text-blue-500">consultores</span>
      </h2>
      <div class="mx-10 mt-10 grid gap-10 md:mx-24 lg:grid-cols-2">
        <Instructor
          name="Mateus"
          image={matt}
          specialties="Python, APIs, Genômica Comparativa, Machine Learning, Automação, Sequenciamento"
          github="https://github.com/Matt-BF"
          lattes="http://lattes.cnpq.br/9005713927447046"
        />
        <Instructor
          name="Lucas"
          image={lucao}
          specialties="R, Python, Integração de ômicas, Bioestatística, RNA-Seq, Simulação Metabólica, Análise de Redes"
          github="https://github.com/lmigueel"
          lattes="http://lattes.cnpq.br/4611692798738135"
        />
        <Instructor
          name="Juliana"
          image={jujose}
          specialties="Genômica Comparativa, Sequenciamento, Variant Calling, RNA-Seq"
          github="https://github.com/Matt-BF"
          lattes="http://lattes.cnpq.br/9005713927447046"
        />
      </div>
    </section>
    <!-- How does it work? -->
    <section class="my-20">
      <h2 class="text-center text-3xl">
        Como funciona a <span class="text-blue-500">consultoria</span>?
      </h2>
      <div class="mt-10 flex flex-col justify-center gap-16">
        <div
          class="mx-5 flex flex-col items-center gap-5 rounded-lg border border-purple-400 p-5 text-center lg:mx-auto lg:w-1/4"
        >
          <Icon
            class="w-24 rounded-full bg-purple-400 p-5 text-white"
            name="mdi:file-document-edit"
          />Preencha o formulário com seu nome, email de contato, e uma
          descrição do que você precisa no seu projeto
        </div>

        <div
          class="mx-5 flex flex-col items-center gap-5 rounded-lg border border-purple-400 p-5 text-center lg:mx-auto lg:w-1/4"
        >
          <Icon
            class="w-24 rounded-full bg-purple-400 p-5 text-white"
            name="ic:outline-assignment-return"
          />
          Enviaremos um plano de consultoria com tempo estimado, sugestão de instrutor
          e investimento
        </div>
        <div
          class="mx-5 flex flex-col items-center gap-5 rounded-lg border border-purple-400 p-5 text-center lg:mx-auto lg:w-1/4"
        >
          <Icon
            class="w-24 rounded-full bg-purple-400 p-5 text-white"
            name="mdi:calendar-check"
          />Após o aceite das condições, enviaremos o link para as reuniões e
          convites na agenda
        </div>
      </div>
    </section>
    <section class="my-20">
      <h2 class="mb-10 text-center text-3xl">
        Quer ajuda no seu projeto? Preencha o <span class="text-blue-500"
          >formulário</span
        > de contato!
      </h2>
      <ContactForm client:load />
    </section>
  </main>
</Layout>
