---
import ContactForm from "../components/ContactForm";
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Bioinfoclass - Contato"
  description="Preencha o formulário de contato e nossa equipe responderá o mais rápido possível para sanar suas dúvidas"
>
  <section class="flex flex-col items-center justify-center py-16 md:py-20">
    <h1 class="mb-12 text-center text-4xl md:text-5xl font-bold text-slate-900">
      Entre em <span
        class="bg-gradient-to-r from-cyan-500 to-blue-500 bg-clip-text text-transparent"
        >contato</span
      > conosco
    </h1>
    <div class="w-full max-w-2xl mx-5">
      <ContactForm client:load />
    </div>
  </section>
</Layout>
