---
import ContactForm from "../components/ContactForm";
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="BioinfoClass - Contato"
  description="Preencha o formulário de contato e nossa equipe responderá o mais rápido possível para sanar suas dúvidas"
>
  <section class="flex flex-col items-center justify-center">
    <h1 class="mb-20 mt-5 text-center text-3xl">
      Entre em <span class="text-blue-500">contato</span> conosco
    </h1>
    <ContactForm client:load />
  </section>
</Layout>
