---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import { Image } from "@astrojs/image/components";
import hero from "../images/bioinfo_hero.jpg";
---

<Layout
  title="BioinfoClass - Bioinformática e programação para biólogos"
  description="Notícias, dicas e recursos sobre bioinformática e programação para biólogos"
>
  <main>
    <!-- Hero section -->
    <section
      class="flex h-[80vh] items-center justify-center bg-neutral-600 bg-[url('/src/images/bioinfo-hero.jpg')] bg-cover bg-blend-overlay"
    >
      <div class="flex flex-col items-center justify-center">
        <h1 class="mb-10 text-center text-5xl text-white">
          Aprenda <span class="text-5xl text-blue-400">Bioinformática</span><br
          />
          e analise seus dados biológicos com confiança
        </h1>
        <button class="rounded-xl bg-blue-500 p-4 text-white hover:bg-blue-400"
          >Mais informações</button
        >
      </div>
    </section>
    <!-- Attributes section -->
    <section></section>
  </main>
</Layout>
