---
import { Icon } from "astro-icon";

export interface Props {
  icon: string;
  extraTwClasses?: string;
}

const { icon, extraTwClasses } = Astro.props;
---

<div
  class={`flex flex-col items-center  border-purple-800 shadow-lg shadow-purple-800 rounded-lg p-5 ${extraTwClasses}`}
>
  <Icon class="mb-5 w-20 text-purple-800" name={icon} />
  <slot />
</div>
